.filled-checkbox {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  position: relative;
  
  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* Custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.75rem;
    width: 1.75rem;
    background-color: transparent;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 0.5rem;
      top: 0.15rem;
      width: 0.5rem;
      height: 1rem;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(25deg);
    }

    &.small {
      width: 1rem;
      height: 1rem;
      top: unset;

      &:after {
        left: 27%;
        top: 10%;
        width: 25%;
        height: 50%;
        border-width: 0 2px 2px 0;
      }
    }
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #2db391;
  }

  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  &:focus {
    outline: none;
  }

}