.users-and-organizations {
  height: fit-content;
  background-color: #1d2b40;
  margin: 2rem 0rem;
  padding-bottom: 1.5rem;
  div.title-container {
    padding: 2rem 0rem;
    .title {
      color: white;
      text-align: center;
    }
  }

  &-companies-logos {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: space-evenly; 
    margin-bottom: 2rem;

    .item {
      background-color: white; 
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      margin: 0 1rem 1rem 0;
    }
  }

  &-icons {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: center;
  }

  @media (max-width: 500px) { 
    &-icons {
      height: unset;
    }
  }
  

  div.footer-text-container {
    margin-top: 3rem;
    .footer-text {
      color: white;
      text-align: center;
    }
  }

  div.register-button-container {
    justify-content: center;
    margin-top: 1.5rem;

    a.register-button {
      background-color: white;
      border: none;
      padding: 0.75rem 1.75rem;
      border-radius: 0.25rem;
      color: var(--success);
      font-weight: bolder;
    }
  }
}

@media (max-width: 700px) { 
  .users-and-organizations {
    &-companies-logos {
      justify-content: center;
    }
  }
}
