@import '../../common/styles.scss';

.create-ai-modules {
  margin: 1rem 15vw 3rem 15vw;
  border: 1px solid var(--almostWhite);
  border-radius: 0.5rem;
  
  &-title {
    text-align: center;
    margin-top: 7rem;
  }
  &-content {
    display: flex;
    &-left {
      flex: 1;
      background-color: #32afc3;
      padding: 1.5rem 0 2.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      &-image {
        margin-top: 1rem;
        height: 20vw;
      }
    }
    &-right {
      flex: 1;
      background-color: white;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border-left: 1px solid var(--almostWhite);
  
      .indication, .title, .description {
        margin: 1rem;
      }

      .indication {
        color: var(--secondary);
      }

      .description {
        color: var(--secondary);
      }

      .checkmarks {
        margin: 1rem;
      }
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(90deg, #32afc3 50%, white 50%);
  }

  &-explore-btn-container {
    display: flex;
    justify-content: center;
    padding: 1.25rem 0 2rem 0;
    background: linear-gradient(90deg, #32afc3 50%, white 50%);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    & > a {
      border: 1px solid var(--info);
      background-color: white;
      padding: 0.55rem;
      border-radius: 0.25rem;
      color: var(--info);
      font-weight: bold;
      font-size: 0.75rem;
    }
  }
}

@media (max-width: 1300px) {
  .create-ai-modules {
    margin: 0 9vw;
    &-content {
      &-left {
        &-image { 
          height: 310px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .create-ai-modules {
    
    &-content {
      &-left {
        flex: unset;
        &-image { 
          display: none;
        }
      }
    }
  }
}