.distribute-ml-workload-title {
  text-align: center;
  margin-top: 7rem;
}
.distribute-ml-workload {
  margin-top: 1rem;
  &-content {
    display: flex; 
    margin: 0 15vw;

    &-left {
      flex: 1;
      background-color: white;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      .indication, .title, .description {
        margin: 1rem;
      }

      .description {
        color: var(--secondary);
      }

      .indication {
        color: var(--secondary);
      }

      .checkmarks {
        margin: 1rem;
      }
    }

    &-right {
      padding-bottom: 2rem;
      flex: 1;
      background-color: #91bd44;
      border-top-right-radius: 0.5rem;

      .experiments-icon {
        height: 310px; 
        margin-top: 2.5rem;
      }
    }
  }

  &-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 15vw;
    background: linear-gradient(90deg, white 50%, #91bd44 50%);
  }
  
  &-explore-ml-projects {
    display: flex; 
    justify-content: center;
    margin: 0 15vw;
    background: linear-gradient(90deg, white 50%,  #91bd44 50%);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-bottom: 1.5rem;

    & > a {
      border: 1px solid #91bd44;
      color: #91bd44;
      background-color: white;
      padding: 0.5rem;
      border-radius: 0.25rem;
      font-weight: 600;
      font-size: 0.75rem;
    }
  }
}

@media (max-width: 1400px) { 
  .distribute-ml-workload {
    &-content {
      margin: 0 9vw;

      &-right {
        .experiments-icon {
          height: 310px;
        }
      }
    }

    &-cards {
      margin: 0 9vw;
    }
    &-explore-ml-projects {
      margin: 0 9vw;
    }
  }
}

@media (min-width: 1400px) { 
  .distribute-ml-workload {
    &-content {
      &-right {
        .experiments-icon {
          height: 475px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .distribute-ml-workload {    
    &-content {
      &-right {
        flex: none;
        .experiments-icon {
          display: none;
        }
      }
    }
  }
}