.ml-project-card {
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 4px;
  box-sizing: content-box;
  box-shadow: 1px 1px 1px 1px var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-align: left;

  &.small {
    min-height: unset;
    height: fit-content;
    width: auto;
  }

  &:not(:hover) {
    border-color: transparent !important;
  }

  &-container {
    background-color: transparent;
    padding: 1rem;
    width: 270px;
  }

  &-tag {
    position: absolute;
    color: #fff;
    font-size: 90%;
    padding: 0.25em 0.75em;
    top: -0.75em;
    left: 1em;
    border-radius: 4px;
  }

  &-image {
    width: 100%;
    height: 160px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &-content {
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 1rem;

    &-title {
      font-weight: bold;
      font-size: 1rem;
      margin: 1.75rem 0 0.75rem 0;
    }

    &-namespace {
      color: var(--secondary);
      margin-bottom: 1rem;
    }

    &-namespace.small {
      /* font-weight: 500; */
      font-size: 0.7rem;
    }

    &-description {
      flex: 1;
      max-height: 6.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 1rem;
    }

    &-stars {
      color: var(--danger);
    }
  }
}
