@mixin makeWedgeSize($size) {
  width: $size;
  height: $size;

  &.left {
    left: 0px - ($size * 0.5);
  }

  &.right {
    right: 0px - ($size * 0.5);
  }
}

$small: 60px;
$normal: 90px;
$large: 150px;

.wedges-background {
  position: absolute;
  height: 100%;
  top: 0;
  width: $large * 0.71;
  overflow: hidden;
  pointer-events: none;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  & .wedge {
    position: absolute;
    background-color: var(--dark);
    transform: rotate(45deg);

    @include makeWedgeSize($normal);

    &.small {
      @include makeWedgeSize($small);
    }

    &.large {
      @include makeWedgeSize($large);
    }

    &.red {
      background-color: var(--danger);
    }

    &.yellow {
      background-color: var(--warning);
    }

    &.green {
      background-color: var(--success);
    }

    &.cyan {
      background-color: var(--info);
    }
  }
}
