.prefered-host {
  margin-top: 7rem;
  
  & > .title {
    text-align: center;
  }
  &-content {
    display: flex;
    height: auto;
    margin: 0 15vw;

    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
      background-color: #2db391;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      padding: 7% 0%;

      .mlreef-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        width: fit-content;
        height: fit-content;
        padding: 0.75rem 1.5rem;
        border-radius: 0.35rem;
        
        .description {
          color: #2db391;
        }
      }

      .self-host {
        border-radius: 0.35rem;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: white;
        .description {
          color: #2db391;
          margin: 0;
        }
        .icons {
          display: flex;
          justify-content: space-evenly;
          height: fit-content;
          align-items: center;
        }
      }
    }

    &-right {
      flex: 1;
      background-color: white;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border: 1px solid var(--almostWhite);
    }

  }

  .indication, .title, .description {
    margin: 1rem;
  }

  .indication {
    color: var(--secondary);
  }

  .description {
    color: var(--secondary);
  }
}

@media (max-width: 1400px) { 
  .prefered-host {
    &-content {
      margin: 0 9vw;
    }
  }
}

@media (max-width: 700px) {
  .prefered-host {    
    &-content {
      &-left {
        flex: 0.1;
        .mlreef-icon {
          display: none;
        }
        .self-host {
          display: none;
        }
      }
    }
  }
} 
