$leftValue: 24vw;

.sliding-card {
  height: max-content;
  width: 250px;
  height: 320px;
  padding: 1rem;
  border: 0.1px solid #91bd44;
  border-radius: 0.25rem;
  background-color: white;
  position: absolute;
  left: calc($leftValue / 2);
 
  transform-style: preserve-3d;
 

  .quotation-marks {
    margin: 0.5rem 0;
  }

  .main-text {
    height: 58%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0;
    font-size: 0.9rem;
  }

  .secondary-text {
    font-size: small;
  }
}

.sliding-card:hover {
  cursor: pointer;
}

@media (min-width: 1200px) { 
  .sliding-card {
    left: $leftValue;
  }
}

@media (max-width: 740px) { 
  .sliding-card {
    left: calc($leftValue - 15vw);
  }
}


@media (max-width: 690px) { 
  .sliding-card {
    left: calc($leftValue - 20vw);
  }
}

@media (max-width: 635px) { 
  .sliding-card {
    left: calc($leftValue);
  }
}

@media (max-width: 450px) { 
  .sliding-card {
    left: calc($leftValue - 10vw);
  }
}

@media (max-width: 380px) { 
  .sliding-card {
    left: calc($leftValue / 2);
  }
}

@media (max-width: 350px) { 
  .sliding-card {
    left: calc($leftValue / 3);
  }
}

