.demo-carousel {
  max-width: 1024px;
  color: var(--dark);
  padding: 3rem 1rem;
  margin: auto;

  &-container {
    display: flex;
    padding: 0 1rem;
  }

  &-content {

  }

  &-image {
    flex: 0 0 60%;
    padding: 0.3rem;
    height: min-content;
    background-color: var(--white);
    box-shadow: 1px 1px 3px 1px var(--secondary);

    & img {
      display: flex;
      max-width: 100%;
      margin: auto;
    }
  }

  @media screen and (max-width: 600px) {
    padding-top: 1rem;
    margin: 1rem;

    &-container {
      padding: 0;
      flex-direction: column-reverse;
    }

    &-image {
      padding: 0;
    }

    &-content {
    }
  }

  & .slick-arrow::before {
    color: var(--dark);
  }

  & .slick-dots {
    & li button::before {
      font-size: 8px;
      line-height: 24px;
    }

    & li.slick-active button::before {
      color: var(--dark);
      opacity: 0.9;
    }
  }
}
