.advisor-gallery {
  padding: 2rem 1rem;

  &-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-card {

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-avatar {
      & .avatar {
        display: block;
        border-radius: 50%;
        width: 120px;
        margin: auto;
        margin-bottom: 1rem;
      }
    }

    &-content {
      text-align: center;
      color: var(--dark);
      display: flex;
      flex: 1;
      flex-direction: column;

      & .name {
        font-size: 1.25rem;
      }

      & .role {
        flex: 1;
      }

      & .advise {
        flex: 1;
        font-size: 1rem;
        color: var(--secondary);
      }
    }
  }
}
