.marketplace {
  // background-color: var(--white);
  padding-top: 3rem;

  &-header {
    color: var(--secondary);
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin: auto;
    text-align: center;
  }

  &-content {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    min-height: 250px;
  }

  & .m-tabs_content_section {
    max-width: unset;
  }
}
