.press-card {
  margin: 1rem !important;

  &-title {
    color: var(--secondary);
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-container {
    background-color: var(--white);

    &.flex-column {
      display: flex;
      flex-direction: column;
    }
  }

  &-image {
    & .image-background {
      background-image: url(/images/bk-transparent.png);
      background-position: center;
    }

    & .press-image {
      margin: auto;
      display: block;
      width: 100%;
    }
  }

  &-actions {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-start;

    & .file-link {
      // padding: 0 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
