.how-works {
  &-project-cards {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: stretch;

    & > .ml-project-card-container {
      height: 100%;
    }

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  & .simple-tabs-menu-tab-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}
