@mixin makeFishSize($size) {
  width: 1.5 * $size;
  height: $size;
}

$orangeFish: "/images/fishes/Icon_simple_allcolors-01@2x.png";
$cyanFish: "/images/fishes/Icon_simple_allcolors-05.png";
$redFish: "/images/fishes/Icon_simple_allcolors-02.png";
$greenFish: "/images/fishes/Icon_simple_allcolors-03.png";

.aquarium {
  position: relative;
  background-image: url('../../../static/images/Background_Header.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

  &-content {
    flex: 1;
    margin: auto;
  }

  &-fishes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;

    & .fish {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;

      &-container {
        position: absolute;
        padding: 10px;

        &.first {
          bottom: 5%;
          left: 5%;
          @include makeFishSize(5vw);

          & .fish {
            background-image: url($orangeFish);
          }
        }

        &.second {
          top: 15%;
          right: 0;
          @include makeFishSize(10vw);

          & .fish {
            background-image: url($cyanFish);
            animation-delay: 2s;
          	animation-duration: 10s;
          }
        }

        &.third {
          top: 5%;
          left: 20%;
          @include makeFishSize(6vw);

          & .fish {
            background-image: url($redFish);
            animation-delay: 1s;
            animation-duration: 8s;
          }
        }

        &.four {
          top: 5%;
          left: 60%;
          @include makeFishSize(3vw);

          & .fish {
            background-image: url($greenFish);
            animation-duration: 5s;
          }
        }
      }
    }
  }
}

.swimming {
	background-size: 65%;
  opacity: 0.7;
	animation-name: swim;
	animation-duration: 7s;
	animation-timing-function: cubic-bezier(.16,.14,.82,.73);
	animation-iteration-count: infinite;
}


@keyframes swim {
	0% {
		background-position: 0% 0px;
	}

  25% {
		background-position: 50% 3px;
	}

  48% {
    background-position: 95% -2px;
    transform: rotateY(0deg);
  }

  50% {
    background-position: 0% 0px;
    transform: rotateY(180deg);
  }

  75% {
		background-position: 25% -3px;
	}

  98% {
    background-position: 95% 2px;
    transform: rotateY(180deg);
  }

	100% {
		background-position: 0% 0px;
    transform: rotateY(0);
	}
}

@media (max-width: 1200px) {
  .aquarium {
    background-size: cover;
  }
}

@media (max-width: 800px) {
  .aquarium {
    &-content {
      margin: 0;
    }
  }
}
