$sm: 570px;

.content-cards-card {
  margin-right: 1rem;
  min-width: 340px;
  height: min-content;

  &-container {
    padding: 0.25rem;
  }

  &-title {
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
    font-size: 150%;
    font-weight: bold;
  }

  &-blocks {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 0rem;
    list-style: none;
    margin: 0;
    border-radius: 5px;

    & .block {
      display: flex;
      flex: 0 1 50%;

      &-container {
        flex: 1;
        padding: 0.5rem;
      }

      &-btn {
        color: var(--dark);
        font-weight: bold;
        padding: 1rem 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #fff;
        border: solid 1px var(--light);
        border-radius: 5px;
        box-shadow: 1px 1px 2px 0px var(--secondary);
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &.active {
          border-color: var(--info);
        }
      }


    }
  }

  @media screen and (max-width: $sm) {
    min-width: 70vw;
  }
}
