.not-found {
  padding: 2rem;
  margin-bottom: 4rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    & .title {
      color: var(--secondary);
      font-size: 400%;
      // line-height: 550%;
      font-weight: normal;
    }
  }

  &-content {
    text-align: center;
    color: var(--dark);
  }

  &-actions {
    margin-top: 5rem;
  }
}
