.blog-page {
  min-height: 30vw;
  background-color: var(--white);
  padding-bottom: 6rem;
  color: var(--dark);
  overflow-x: hidden;

  &-top-banner {
    &-container {
      background-color: var(--dark);
      background-image: url(/images/Header_Blog.jpg);
      background-size: cover;
      color: var(--white);
      text-align: center;

      & .cover {
        padding: 2rem;
        padding-top: 3rem;
        padding-bottom: 0.5rem;

        min-height: 33vh;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(transparent, #222);
      }

      & .subscription {

        &-title {
          margin-top: 2rem;
          font-size: 150%;
          flex: 1;
        }

        &-text-line {
          // font-size: 115%;
        }

        &-form {
          &-group {

          }

          &-control {
            width: 28ch;
            padding-left: 1rem;
            padding-right: 1rem;
            border: none;
          }
        }

        &-success {
          margin-top: 0.5rem;
          opacity: 0;

          &.show {
            opacity: 1;
          }
        }
      }
    }
  }

  &-content {
    max-width: 1040px;
    margin: auto;
    padding-top: 4rem;
    // padding-left: 2rem;
    // padding-right: 2rem;
  }

  & pre {
    overflow: auto;
  }
}
