.book-a-demo-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 360px;
  background: linear-gradient(180deg, var(--light) 40%, white 4%);
  justify-content: center;
  margin-bottom: 10vw;

  &-left-part {
    flex: 1;
    margin-top: 5%;
    min-width: 300px;

    &-content {
      margin-left: 7.5vw;

      h3.title {
        margin-top: 2vw;
      }

      .text-1 {
        font-size: small;
        max-width: 80%;
      }

      &-cards {
        margin: 5rem 0 0 0;
      }
    }
  }

  @media (max-width: 635px) { 
    &-left-part {
      margin-top: 0;    
      &-content {
        padding-top: 3vw;
      }
    }
  }
  
  &-right-part {
    flex: 1;
    margin-top: 5vw;
    flex-direction: column;
    align-items: center;
    display: flex;

    &-content {
      background-color: white;
      border: 1px solid var(--almostWhite);
      margin-right: 15vw;
      max-width: 300px;
      padding: 2rem 2rem 0 2rem;
      
      .title {
        font-size: large;
        text-align: center;
      }
      .email-lbl {
        font-weight: 700;
        font-size: small;
        
        input[name="email-input"] {
          margin: 0.5rem 0 0.5rem 0;
          width: 100%;
          height: 1.5rem;
          border-radius: 0.25rem;
        }
      }
      .email-desc {
        margin-top: 0;
        font-style: italic;
        font-size: small;
      }
      .product-desc {
        font-size: small;
        color: var(--lessWhite);
      }
      .submit-button {
        width: 100%;
        background-color: #eaba44;
        color: white;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .bottom-texts {
      max-width: 352px;
      margin-right: 15vw;
      &-row {
        display: flex;
        margin-top: 1rem;
        
        .texts-container {
        }
        .checkbox-container {
          display: flex;
          align-items: flex-start;
          margin-right: 1.5rem;
        }
      }
      p {
        margin: 0;
        font-size: small;
        word-wrap: break-word;
        word-break: break-word;
      }
    }
  }

  @media (max-width: 635px) { 
    &-right-part {
      .bottom-texts {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1200px) { 
  .book-a-demo-page {
    &-left-part {      
      &-content {
        margin-left: 24vw;
      }
    }
  }
}

@media (max-width: 1200px) { 
  .book-a-demo-page {
    background: linear-gradient(180deg, var(--light) 21vw, white 10%);
  }
}

@media (max-width: 900px) { 
  .book-a-demo-page {
    background: linear-gradient(180deg, var(--light) 25vw, white 10%);
  }
}

/* @media (max-width: 730px) { 
  .book-a-demo-page {
    
  }
} */

@media (max-width: 765px) {
  .book-a-demo-page {
    background: linear-gradient(180deg, var(--light) 250px, white 10%);
    &-left-part {
      &-content {

        &-cards {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 5rem 0 30rem 0 !important;
        }
      }
    }
  }
}

@media (max-width: 635px) {
  .book-a-demo-page {
    background: linear-gradient(180deg, var(--light) 250px, white 10%);
    display: block;

    &-right-part {
      &-content {
        margin: auto;
      }
    }
  }
}