.coming-soon {
  padding: 6rem 2rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  &-title {

  }

  &-content {
    text-align: center;
    color: var(--dark);
  }

  &-actions {
    margin-top: 5rem;
  }
}
