.features-page {
  &-header {
    height: 150px;
    background-color: #1d2b40;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
      font-size: xx-large;
      font-weight: 600;
      color: white;
    }
  }
  &-content {
    &-title {
      font-size: larger;
      text-align: center;
    }

    &-description {
      display: flex;
      justify-content: center;
      & > p {
        width: 450px;
        margin: 0;
        text-align: center;
      }
    }
  }

  &-billing-profiles {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}