.early-access {
  padding: 6rem 2rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  &-title {
    padding-top: 4rem;

    & .image {
      max-height: 200px;
    }
  }

  &-content {
    text-align: center;
    color: var(--dark);
  }

  &-actions {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
