.home-page {
  &-top-banner {
    position: relative;
    display: flex;
    padding: 6rem 0;
    padding-top: 2rem;
    height: 50vh;

    &-title {
      font-size: 150%;
      font-weight: normal;
    }

    &-footer {
      width: 100%;
      position: absolute;
      bottom: -1.5rem;

      &-container {
        background-color: var(--white);
        border: solid 1px var(--info);
        color: var(--dark);
        padding: 1rem 2rem;
        width: max-content;
        margin: auto;
        display: flex;
      }

      &-text {
        font-weight: bold;
      }
    }
  }

  &-collaboration-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;

    &-content {
      width: 70%;

      .title {
        text-align: center;
        font-weight: 700;
        font-size: 1.4rem;
      }

      .desc {
        text-align: center;
      }
    }
  }

  &-video {
    justify-content: center;

    video {
      width: 700px;
      height: 515px;
    }
  }

  &-statistics {
    display: flex;
    justify-content: center;
    margin: 4rem 0 0 0;

    &-container {
      display: flex;
      width: 80vw;
      justify-content: space-evenly;

      &-item {
        width: 16rem;

        .title {
          color: #2dbe91;
          font-size: 1.4rem;
          font-weight: bolder;
          text-align: center;
        }

        .description {
          text-align: center;
        }
      }
    }
  }

  &-icons-banner {
    padding: 1rem 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    &-title {
      text-align: center;
      font-size: 150%;

      & h5 {
        // font-weight: normal;
      }

      & .highlight {
        // font-weight: normal;
        color: #D2519D;
      }
    }

    &-content {
      max-width: 1050px;
      margin: 2rem auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @media screen and (max-width: 800px) {
        display: flex;
        flex-wrap: wrap;
      }

      &-item {
        display: flex;
        width: max-content;
        margin: 2rem auto;
        max-height: 80px;

        &-icon {
          width: 80px;
        }

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-weight: bold;
          font-size: 115%;
          margin-left: 1rem;

          &-title {
            color: var(--white);
          }

          &-subtitle {}
        }
      }
    }

    &-footer {
      &-title {
        text-align: center;
        font-size: 115%;
        margin-bottom: 0.5rem;
      }

      &-content {
        display: flex;
        justify-content: center;

        & img {
          width: 40px;
          margin: 0.5rem;
        }
      }
    }
  }

  &-section {
    &.steps {
      margin-top: 5rem;
    }

    &.features {
      margin-top: 3rem;
      padding: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &.sponsors {
      padding: 2rem;

      & .sponsors-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      & .sponsors-title {
        color: var(--secondary);
        margin: auto;
        text-align: center;
        font-weight: normal;
        margin-bottom: 1rem;
      }

      & .sponsor {
        // flex: 0;
        margin: 0.5rem;
        width: 140px;
        height: 70px;
        background-color: var(--white);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &-link {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }

    &.examples {
      padding: 2rem;
      background-color: var(--white);
    }

    &.subscription {
      background-color: var(--light);
      color: var(--dark);
      text-align: center;
      padding: 2rem;

      & .subscription {
        &-title {
          font-size: 150%;
        }

        &-text-line {
          // font-size: 115%;
        }

        &-form {
          margin-top: 2rem;

          &-group {
            &>.btn {
              white-space: nowrap;
            }
          }

          &-control {
            width: 28ch;
            padding-left: 1rem;
            padding-right: 1rem;
            border: none;
          }
        }

        &-success {
          margin-top: 0.5rem;
          opacity: 0;

          &.show {
            opacity: 1;
          }
        }
      }
    }
  }
}

// styling cookiebot
#CybotCookiebotDialog {
  & .CybotCookiebotDialogBodyButton {
    // padding-top: 0.5rem !important;
    // padding-bottom: 0.5rem !important;
    // border-radius: 5px;

    &#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection,
    &#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
      background-color: var(--primary) !important;
      border-color: var(--primary) !important;
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
    }

    &#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll {
      background-color: var(--secondary) !important;
      border-color: var(--secondary) !important;
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
    }
  }

  & #CybotCookiebotDialogPoweredbyLink {
    background-image: url(/images/MLReef_Logo_icon_01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px !important;

    & #CybotCookiebotDialogPoweredbyImage {
      opacity: 0;
    }
  }
}


@media (max-width: 1200px) {
  .home-page {
    &-video {
      video {
        width: 80%;
        height: 500px;
      }
    }
  }
}

@media (max-width: 500px) {
  .home-page {
    &-top-banner {
      &-footer {
        bottom: -3.5rem;

        &-container {
          margin: auto;
          width: 70%;
        }

        &-text {
          &>p {
            text-align: center;
          }
        }
      }
    }

    &-video {
      video {
        width: 100%;
        height: 300px;
      }
    }

    &-statistics {
      &-container {
        flex-wrap: wrap;
      }
    }
  }
}