$codeElementsColor: rgba(189, 193, 198, 0.12);
$goldBorder: #efca6f;


.install-page {
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: var(--main);

    &-title {
      margin: 0;
      font-size: large;
      font-weight: bold;
      color: white;
    }

    &-subtitle {
      margin: 0;
      font-size: large;
      color: var(--info);
    }
  }

  &-on-premises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 215px;
    background-color: var(--almostWhite);

    &-title {
      font-size: large;
      font-weight: bolder;
    }

    &-line {
      margin: 0.5rem 0 0 0;
    }
  }

  &-guide {
    margin: 0 12vw;

    &-title {
      font-size: large;
      font-weight: bold;
    }

    &-cards {
      margin-top: 2rem;
      display: flex;
      .instruction-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1rem;
        align-items: center;
        width: 160px;
        height: 175px;
        padding: 1rem 1rem 1.75rem 1rem;
        border: 2px solid $goldBorder;
        border-radius: 0.5rem;
        margin-left: 0;
        background-color: white;

        & >.title {
          text-align: center;
          font-weight: bold;
          /* margin-bottom: 3rem; */
          color: black;
        }
        
        & >.link {
          font-weight: bold;
        }        
      }
      .instruction-card:hover {
        box-shadow: 0px 0px 25px 0px $goldBorder;
        transition: box-shadow 0.25s;
        cursor: pointer;
      }
    }

    &-instructions {
      margin-top: 2rem;
      padding: 1.5rem;
      border: 2px solid $goldBorder;
      border-radius: 0.5rem;
      & > .title {
        font-size: large;
        font-weight: bold;
        line-height: 2.5rem;
        border-bottom: 0.1px solid #dcdcdc6b;
      }

      & > .subtitle {
        font-weight: bold;
        line-height: 2.5rem;
        border-bottom: 0.1px solid #dcdcdc6b;
      }

      .code-span {
        margin-left: 0.25rem; 
        padding: 0.15rem 0.35rem; 
        background-color: $codeElementsColor;
      }

      & > .command {
        display: block;
        background-color: $codeElementsColor;
        width: 96%;
        overflow: scroll;
        .line {
          width: max-content;
          margin: 0;
          padding: 0.1rem 1rem;
        }

        .line:first-child {
          padding-top: 1.5rem;
        }

        .line:last-child {
          padding-bottom: 1.5rem;
        }
      }
    }
  }
}