.press-page {
  padding-bottom: 8rem;

  &-content {
    &-container {
      margin: auto;
      margin-top: 4rem;
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      max-width: 800px;
    }

    & .box {
      margin: 2rem 0;
      padding: 1rem;
      // border: solid 1px var(--light);
      box-shadow: 2px 2px 6px 1px var(--secondary);
    }
  }
}
