.home-page-top-banner-container {
  display: flex;

  &-left {
    flex: 1;
    margin-left: 10%;

    p.text-1 {
      text-align: left;
      color: var(--modelColor);
    }

    h1.text-2 {
      text-align: left;
      font-size: 1.8rem;
      font-weight: bold;
      color: white;
    }

    p.text-3 {
      margin-top: 2.5rem;
      color: white;
    }

    &-buttons {
      .book-a-demo {
        background-color: #eaba44;
        color: white;
        font-weight: bold;
        position: absolute;
        z-index: 2;
      }

      button.video-button {
        position: absolute;
        z-index: 2;
        margin-left: 13rem;
        background-color: transparent;
        border: 1px solid var(--info);
        color: var(--info);
      }
    }

    @media (max-width: 400px) {
      button.video-button {
        margin: 3rem 0 0 0;
      }
    }
  }



  &-right {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 10%;

    p {
      text-align: left;
    }

    img.healthcare {
      position: absolute;
      z-index: 2;
      border-radius: 0.75rem;
      width: 25vw;
      height: 15vw;
      max-height: 200px;
      max-width: 300px;
      min-width: 150px;
      min-height: 100px;
    }

    img.military {
      position: absolute;
      z-index: 1;
      margin: 11vw 0 0 20vw;
      border-radius: 0.75rem;
      height: 15vw;
      width: 25vw;
      max-height: 200px;
      max-width: 300px;
      min-width: 150px;
      min-height: 100px;
    }
  }

  @media (min-width: 1000px) {
    &-right {
      img.healthcare {
        margin-top: -2rem;
      }

      img.military {
        margin: 5vw 0 0 15vw;
      }
    }
  }
}

@media (max-width: 800px) {
  .home-page-top-banner-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    &-right {
      margin-top: 3rem;
    }
  }
}

@media (max-width: 400px) {
  .home-page-top-banner-container {
    &-right {
      display: none;
    }
  }
}