.success-stories-and-statistics {
  display: flex;
  justify-content: center;
  &-content {
    width: 70vw;
    margin-top: 4vh;
    
    &-success-story-card {
      position: absolute;
      z-index: 2;
      background: white;
      margin: -11vh 0 0 0;
      padding: 0.75rem;
      border-radius: 0.35rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 20vh;
      justify-content: space-between;

      p.title {
        text-align: center;
        font-size: larger;
        font-weight: bold;
        color: var(--info);
        margin: 0;
      }

      p.desc {
        text-align: center;
        margin: 0;
      }
    }

    &-success-story-card:hover {
      cursor: pointer;
    }

    @media (max-width: 800px) {
      &-success-story-card {
        margin: -8vh 0 0 0;
      }
    }

    @media (max-width: 800px) {
      &-story-details {
        height: 20vh;
        margin: -8vh 0 0 0;
      }
    }

    &-story-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      min-width: min-content;
      
      padding: 2rem;
      border: 1px solid var(--info);
      border-radius: 0.35rem;
      p.description {
        margin-top: 13vh;
        width: 80%;
        color: var(--lessWhite);
        text-align: center;
      }

      p.title {
        font-weight: bold;
        margin-bottom: 3vh;
      }

      img {
        min-width: 400px;
      }
    }
  }
}