.home-features {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--white);
  text-align: center;
  margin: auto;
  justify-content: center;

  &-item {
    padding: 1rem;
    width: 280px;
    color: var(--dark);

    &-title {
      font-size: 150%;
    }

    &-image {
      width: min-content;
      height: 100px;
      & > img {
        min-width: 110px;
        min-height: 110px;
      }
    }
  }

  @media screen and (min-width: 570px) {
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;

    &-item {
      &-text {
        // font-size: 150%;
        // line-height: 2rem;
      }
    }
  }
}
