.develop-models {
  margin-top: 7rem;
  & > .title {
    text-align: center;
  }
  .indication {
    color: var(--secondary);
  }
  &-content {
    display: flex;
    margin: 0 15vw;
    height: auto;
    &-left {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      flex: 1;
      background-color: white;
      border: 1px solid var(--almostWhite);

      .indication, .title, .description, .checkmarks {
        margin: 1rem;
      }
      .description {
        color: var(--secondary);
      }
    }

    &-right {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      background-color: #735da8;
      flex: 1;
      padding: 2rem 2rem 2rem 0;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 1400px) { 
  .develop-models {
    &-content {
      margin: 0 9vw;
    }
  }
}

@media (max-width: 700px) {
  .develop-models {    
    &-content {
      &-right {
        flex: none;
        img {
          display: none;
        }
      }
    }
  }
}