$bp-sm: 576px;
$logo-size: 110px;

.footer {
  justify-content: center;
  align-content: center;
  color: var(--light);
  min-height: 75vh;
  background-color: transparent;
  // margin-top: $logo-size * 2 / 3;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-color: var(--dark);
  margin-top: 5rem;

  &-logo {
    &-container {
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      width: 100%;
      position: relative;

      &-post {
        position: absolute;
        top: calc(($logo-size * -1) / 2);
        width: 100%;
      }
    }

    &-image {
      display: block;
      margin: auto;
      width: $logo-size;
      height: $logo-size;
      // background-color: var(--dark);
      // clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
      // padding: 15px;
    }
  }

  &-content {
    display: flex;
    justify-content: space-around;
    padding: 5rem 2rem;
    flex-wrap: wrap;
    // padding-top: $logo-size;
  }

  &-menu {
    padding: 0 0.5rem;

    &-title {
      font-size: 150%;
    }

    &-list {
      list-style: none;
      padding-left: 0;

      &-item {
        padding: 0.5rem 0;

        & .nav-link {
          text-decoration: none;
          color: var(--white);
        }
      }
    }
  }

  @media screen and (max-width: $bp-sm) {
    &-content {
      flex-direction: column;
      padding-left: 2rem;
      padding-right: 2rem;
      margin: auto;
      width: max-content;
    }
  }
}
