.dive-page {
  min-height: 400px;

  &-content {
    max-width: 1024px;
    color: var(--dark);
    padding: 3rem 1rem;
    margin: auto;

    &-header {
      max-width: 380px;
      margin: auto;
      margin-bottom: 4rem;
      text-align: center;

      &-title {
        &.magenta {
          color: #D2519D;
        }
      }
    }

  }
}
