
.featured-list {
  margin-bottom: 5rem;
  display: flex;
  padding: 0 1rem;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.reverse &-content {
    margin-left: 2rem;
    margin-right: 0;
  }

  &-content {
    // margin-left: 1rem;
    margin-right: 2rem;

    &-list {
      padding-left: 0;
      list-style: none;

        & > li {
        padding-bottom: 1rem;

        &::before{
           content: '';
           display: inline-block;
           height: 1.1rem;
           width: 1.1rem;
           background-image: url(/Icon_simple_allcolors-05.png);
           background-size: contain;
           background-repeat: no-repeat;
        }
      }
    }
  }

  &-image {
    flex: 0 0 60%;
    height: min-content;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 1px 1px 3px 1px var(--secondary);

    & img {
      display: flex;
      max-width: 100%;
      margin: auto;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 1rem 0 !important;
    margin: 1rem;
    flex-direction: column-reverse !important;

    &-content {
      margin: 1rem 0 !important;
    }

    &-image {
      padding: 0;
    }
  }
}

.banner {
  &-wide {
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    padding: 2rem;

    &-title {
      font-size: 150%;
    }

    &-text {
      margin-top: 2rem;
    }

    &-actions {
      display: flex;
      width: max-content;
      margin: auto;

      &-icon {
        width: 2rem;
        height: 2rem;
        display: block;
        margin: 0 0.5rem;

        & > img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &-short {
    margin-top: 3rem;
    margin-bottom: 3rem;

    &-container {
      padding: 1rem;
      display: flex;
      max-width: 500px;
    }

    &-image {
      // height: 80px;
      width: 160px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-content {
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;

      &-btn-group {
        display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
      }

      &-btn {
        flex: 0 0 33%;
        margin: 0.25rem;
        padding: 1rem;
        background-color: var(--white);
        font-weight: bold;
        color: var(--primary);
        border: solid 2px var(--primary);
        cursor: auto;

        &.orange {
          color: #E99444;
          border-color: #E99444;
        }

        &.magenta {
          color: #D2519D;
          border-color: #D2519D;
        }

        &.purple {
          color: #735DA8;
          border-color: #735DA8;
        }
      }
    }

    &.dark {

      & .banner-short-container {
        background-color: var(--dark);
        background-image: url(/images/about/banner-dark.png);
        background-size: contain;
        background-repeat: no-repeat;
        color: var(--white);
        text-align: center;
        margin: auto;
        padding: 1rem 10vw;
        padding-top: 2rem;
      }
    }

    @media screen and (max-width: 500px) {
      &-content {
        &-btn-group {
          flex-direction: column;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }

  }
}
