.manage-your-data {
  margin-top: 7rem;

  & > .title {
    text-align: center;
  }

  &-content {
    display: flex;
    height: auto;
    margin: 0 15vw;
    &-left {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 2rem 0 2rem 2rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      background-color: #d2519d;
    }
    
    &-right {
      flex: 1;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border: 1px solid var(--almostWhite);

      .indication, .title, .description {
        margin: 1rem;
      }

      .indication {
        color: var(--secondary);
      }

      .description {
        color: var(--secondary);
      }

      .checkmarks {
        margin: 1rem;
      }
    }
  }
}

@media (max-width: 1400px) { 
  .manage-your-data {
    &-content {
      margin: 0 9vw;
    }
  }
}

@media (max-width: 700px) {
  .manage-your-data {    
    &-content {
      &-left {
        flex: none;
        img {
          display: none;
        }
      }
    }
  }
}