.layout-tabs {
  min-height: 400px;

  &-content {
    margin-top: 5rem;
    // width: 100%;

    &-tabs {
      display: flex;
      flex-direction: column;

      &-menu {
        display: flex;
        margin: auto;
        width: max-content;

        &-item {
          color: var(--secondary);
          background-color: var(--light);
          padding: 0.5rem 5rem;

          &-icon {
            height: 2rem;
            // width: 2rem;
            background-size: auto   100%;
            background-repeat: no-repeat;
            margin: 0.5rem auto;
            background-position: center;

            &.newcomer {
              background-image: url(/newcomer_gray.png);
            }

            &.experienced {
              background-image: url(/Fish_experienced_gray.png);
            }

            &.enterprise {
              background-image: url(/Fish_enterprise_gray.png);
            }
          }

          &-label {
          }

          &.active {
            background-color: var(--white);
            border-bottom: solid 3px #8ebe45;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }

          &.active &-label {
            font-weight: bold;
            color: var(--dark);
          }

          &.active &-icon {
            &.newcomer {
              background-image: url(/newcomer.png);
            }

            &.experienced {
              background-image: url(/Fish_experienced.png);
            }

            &.enterprise {
              background-image: url(/Fish_enterprise.png);
            }
          }
        }
      }

      &-content {
        padding-bottom: 8rem;
        background-color: var(--white);
        min-height: 200px;

      }
    }
  }

  @media screen and (max-width: 600px) {
    &-content {
      &-tabs {
        &-menu {
          display: flex;
          width: 90%;
          overflow-x: auto;

          &-item {
            padding: 0 0 0.5rem 0;
            flex: 1 0 30%;
            text-align: center;
          }
        }
      }
    }
  }
}
